<script type="text/javascript">

function runJob( jobid ){


  $.ajax({
    type: "POST",
    url: "/run_now",
    data: {
      job_id: jobid
    },
    success: function(data){
      alert("in progress! be patient!");
    },
    error: function(){
      alert("error");
    }
    
  });

}


</script>

  <div class="container">


    <p id="notice"><%= notice %></p>

    <h1>Listing Jobs</h1>

    <div style="text-align: right;">
      <span style="font-weight:bold;">Current Time:</span> <small><%=@current_time%></small>
    </div>
    

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Dataset Name</th>
          <th>Username</th>
          <th>Hour of Day</th>
          <th>Next Job</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @jobs.each do |job| %>


        <tr>
          <td><%= job.name%></td>
          <td><%= job.dataset_name%></td>
          <td><%= job.username%></td>
          <td><%= job.hour_of_day%></td>
          <td><%= job.next_job%></td>
          <td><%= link_to 'Show', job %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><a onclick="runJob( <%= job.id%> );">Run now</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Job', new_job_path %>

  </div>