

<div class="container">


	<% if flash[:notice] %>
		<div class="alert alert-info" role="alert"><%=flash[:notice]%></div>
	<% end %>


	<% if flash[:error] %>
		<div class="alert alert-danger" role="alert"><%=flash[:error]%></div>
	<% end %>



	<h1>Heroku PG Dataclips -> Wave Analytics Loader</h1>

	
	<%= form_tag( {action: :index}, multipart: true) do %>


		<fieldset>
			<div class="clearfix">
				<label>Username for Salesforce</label>
				<%=email_field_tag :username, nil, class:"form-control", placeholder: "user@example.com"  %>
			</div><br />
			<div class="clearfix">
				<label>Password for Salesforce</label>
				<%=password_field_tag :password, nil, class:"form-control", placeholder: "salesforce password"  %>
			</div><br />
			<div class="clearfix">
				<label>CSV URL</label>
				<%=text_field_tag :csv_url, nil, class:"form-control", placeholder: "https://csvurl.com/file.csv"  %>
			</div><br />
			<div class="clearfix">
				<label>Dataset Name <span style="color:red;">*** NO SPACES!! Alphanumeric and underscore ONLY! ***</span></label>
				<%=text_field_tag :dataset_name, nil, class:"form-control", placeholder: "Dataset_Name"  %>
			</div><br />
			<div class="clearfix">
				<label>Meta JSON</label>
				<%=file_field_tag :meta_json, class:"form-control" %>
			</div><br />

			<div class="clearfix">
				<label>Your Mobile Number * Optional if you want to get notified</label>
				<%=text_field_tag :phone, nil, class:"form-control", placeholder: "+8109012345678"  %>				
			</div><br />



			
			<%=submit_tag "Start Load Job!", class:"btn btn-primary"%>


		</fieldset>


	<% end %>
	

</div>